ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/app/usb-mount/mount.sh"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN+="/app/usb-mount/unmount.sh"
